<div class="container-fluid header shadow-style-bottom relative">
    <div class="float-start actions align-row-center" (click)="goBack()">
        <span [class]="Icons.NG_ANGLE_LEFT" style="font-size: 1.1rem;"></span>
    </div>
    <div class="position-center bold">
        About Your Profile
    </div>
</div>

<div class="container-fluid d-column align-items-center my-3">
    <div class="profile-photo">
        <img [src]="profile?.profileImageUrl" alt="Profile photo">
    </div>
    <div class="bold mt-2" style="font-size: 1.1rem;">
        {{ profile?.username }}
    </div>
    <small class="light-grey text-center">
        Here, you can view and update your personal details, including your name and other relevant information. Ensure your profile reflects the most accurate information for a better experience!
    </small>
</div>

<div class="container-fluid shadow-style-bottom">
    <div class="mt-2 d-row align-items-center w-100">
        <span class="me-2">Date Joined:</span>
        <span class="light-grey">{{ profile?.createdOn | date: 'd. MMMM yyyy.' }}</span>
    </div>
    <div class="mt-2 pb-2 d-row align-items-center justify-content-between w-100" (click)="showUsernames()">
        <div>
            <span class="me-2">Past Usernames:</span>
            <span class="light-grey">{{ userLog?.usernameCount }}</span>
        </div>
        <span [class]="Icons.NG_ANGLE_RIGHT" class="arrow-right"></span>
    </div>
</div>
<p-dialog 
    header="Past Usernames" 
    [(visible)]="usernamesVisible" 
    [modal]="true" 
    [style]="{ width: '80vw' }" 
    [draggable]="false" 
    [resizable]="false">
        <p>
            {{ userLog?.usernames?.join(', ') }}
        </p>
</p-dialog>

@if(!!profile){
    <div class="container-fluid">
        <div class="mt-2 d-row justify-content-between align-items-center">
            <span class="bold">User Information</span>
            @if(!isEditMode){
                <button class="btn btn-primary-border py-1" (click)="edit()">Edit</button>
            }
            @else {
                <div>
                    <button class="btn btn-primary py-1 me-1" (click)="save()">Save</button>
                    <button class="btn btn-danger py-1" (click)="cancel()">Cancel</button>
                </div>
            }
        </div>
        <div class="mt-2" appValidation="FirstName">
            <label for="FirstName" class="form-label">First Name<app-required-field-mark/></label>
            <input class="form-control" type="text" id="FirstName" [(ngModel)]="profile.firstName" [disabled]="!isEditMode" (ngModelChange)="onInputTextChange()">
        </div>

        <div class="mt-2" appValidation="MiddleName">
            <label for="MiddleName" class="form-label">Middle Name</label>
            <input class="form-control" type="text" id="MiddleName" [(ngModel)]="profile.middleName" [disabled]="!isEditMode" (ngModelChange)="onInputTextChange()">
        </div>

        <div class="mt-2" appValidation="LastName">
            <label for="LastName" class="form-label">Last Name<app-required-field-mark/></label>
            <input class="form-control" type="text" id="LastName" [(ngModel)]="profile.lastName" [disabled]="!isEditMode" (ngModelChange)="onInputTextChange()">
        </div>

        <div class="mt-2" appValidation="Username">
            <label for="Username" class="form-label">Username<app-required-field-mark/></label>
            <input class="form-control" type="text" id="Username" [(ngModel)]="profile.username" [disabled]="!isEditMode" (ngModelChange)="onInputTextChange()">
        </div>

        <div class="mt-2" appValidation="DateOfBirth">
            <label for="DateOfBirth" class="form-label">Date of Birth<app-required-field-mark/></label>
            <p-calendar 
            [(ngModel)]="profile.dateOfBirth"
            dateFormat="dd. MM yy."
            [disabled]="!isEditMode"
            id="DateOfBirth"
            [inputStyleClass]="'form-control'"
            class="w-100 d-flex"
            [touchUI]="true"
            (onSelect)="onDoBSelect()"/>
        </div>

        <div class="mt-2" appValidation="GenderId">
            <label for="GenderId" class="form-label">Gender<app-required-field-mark/></label>
            <app-lookup-dropdown provider="Genders" [(value)]="currentGender" [disabled]="!isEditMode" (onChangeVoid)="onGenderChange()"/>
        </div>

        <div class="mt-2" appValidation="Country">
            <label for="CountryId" class="form-label">Country<app-required-field-mark/></label>
            <app-country-dropdown [(value)]="currentCountry" [disabled]="!isEditMode" (onChange)="onCountryChange($event)"/>
        </div>

        <div class="mt-2" appValidation="Phone">
            <label for="Phone" class="form-label">Phone<app-required-field-mark/></label>
            <input type="tel" class="form-control" id="Phone" [disabled]="!isEditMode" [(ngModel)]="profile.phone" (ngModelChange)="onInputTextChange()"/>
        </div>

        <div class="mt-2 mb-4" appValidation="Biography">
            <label for="Biography" class="form-label">Biography</label>
            <textarea id="Biography" class="form-control" [(ngModel)]="profile.biography" [disabled]="!isEditMode" rows="5" style="resize: none;" (keyup)="onInputTextChange()"></textarea>
        </div>
    </div>
}