<div class="container-fluid header shadow-style-bottom relative">
    <div class="float-start actions align-row-center" (click)="goBack()">
        <span [class]="Icons.NG_ANGLE_LEFT" style="font-size: 1.1rem;"></span>
    </div>
    <div class="position-center bold">
        Settings and Privacy
    </div>
</div>

<div class="container-fluid d-column">
    <div class="py-2 setting" [routerLink]="getRoute('settings_and_privacy/profile_privacy')">
        <div class="float-start actions align-row-center label">
            <span [class]="Icons.NG_LOCK"></span>
            <span class="ms-2">Profile privacy</span>
        </div>
        <div class="float-end arrow-right">
            <span [class]="Icons.NG_ANGLE_RIGHT" style="font-size: 1.1rem;"></span>
        </div>
    </div>

    <div class="py-2 setting" [routerLink]="getRoute('settings_and_privacy/profile_about')">
        <div class="float-start actions align-row-center label">
            <span [class]="Icons.NG_INFO_CIRCLE"></span>
            <span class="ms-2">About your profile</span>
        </div>
        <div class="float-end arrow-right">
            <span [class]="Icons.NG_ANGLE_RIGHT" style="font-size: 1.1rem;"></span>
        </div>
    </div>

    <div class="py-2 setting" [routerLink]="getRoute('settings_and_privacy/add_profile')">
        <div class="float-start actions align-row-center label green">
            <span [class]="Icons.NG_USER_PLUS"></span>
            <span class="ms-2">Add profile</span>
        </div>
        <div class="float-end arrow-right">
            <span [class]="Icons.NG_ANGLE_RIGHT" style="font-size: 1.1rem;"></span>
        </div>
    </div>

    <div class="py-2 setting" (click)="signout()">
        <div class="float-start actions align-row-center label red">
            <span [class]="Icons.NG_SIGNOUT"></span>
            <span class="ms-2">Sign out</span>
        </div>
        <div class="float-end arrow-right">
            <span [class]="Icons.NG_ANGLE_RIGHT" style="font-size: 1.1rem;"></span>
        </div>
    </div>
</div>