@import './assets/styles/variables';
@import './assets/styles/primeng';
@import './assets/styles/mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

// Flex styles
.d-row {
    display: flex;
    flex-direction: row
}
.d-column {
    display: flex;
    flex-direction: column;
}
.flex-1 {
    flex: 1;
}

.align-row-center {
    @include flex-center(row);
}
.align-column-center {
    @include flex-center(column);
}
.row-center-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


// Button
.btn-primary {
    background-color: $primary;
    border: none;
}
.btn-secondary {
    background-color: $light;
    border: none;
}
.btn-border {
    border: 1px solid $light;
}

// Custom
.w-49 {
    width: 49% !important;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    background-color: rgba(0,0,0,0.5);
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.form-input-icon {
    position: absolute;
    top: 5px;
    right: 10px;
    color: $grey;
}

.transparent-text {
    color: transparent;
}

.shadow-style {
    box-shadow:
        rgba(17, 17, 26, 0.1) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px -1px 0px,
        rgba(17, 17, 26, 0.1) 1px 0px 0px,
        rgba(17, 17, 26, 0.1) -1px 0px 0px;
}
.shadow-style-bottom {
    box-shadow:
        rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.height-100 {
    height: 100%;
}

.bold {
    font-weight: 600;
}

.section-header {
    font-size: 1.1rem !important;
    font-weight: 600;
}

.grey {
    color: $grey;
}
.light-grey {
    color: $light-grey;
}
.red {
    color: $error;
}
.green {
    color: $success;
}
.blue {
    color: $primary;
}

.header {
    height: 3rem;

    .actions {
        height: 100%;
    }

    fa-icon {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
    }
}

.relative {
    position: relative;
}
.position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.arrow-right {
    font-size: 1.1rem;
    color: $light-grey;
}