@import '../../../../../assets/styles/variables';
@import '../../../../../assets/styles/mixins';

.setting {
    .label {
        fa-icon {
            width: 20px;
        }
    }

    .arrow-right {
        font-size: 1.1rem;
        color: $light-grey;
    }
}