<div class="navigation container-fluid shadow-style align-row-center justify-content-between">
    <div class="icon" [routerLink]="[Constants.ROUTE_PATH_HOME]">
        <span [class]="Icons.NG_HOME" style="font-size: 1.3rem;"></span>
    </div>
    <div class="icon">
         <span [class]="Icons.NG_SEARCH" style="font-size: 1.2rem;"></span>
    </div>
    <div class="icon">
         <span [class]="Icons.NG_PLUS_CIRCLE" style="font-size: 1.2rem;"></span>
    </div>
    <div class="icon">
         <span [class]="Icons.NG_COMMENT" style="font-size: 1.2rem;"></span>
    </div>
    <div class="icon" [routerLink]="[Constants.ROUTE_PATH_PROFILE, currentUser?.id]">
        <span [class]="Icons.NG_USER" style="font-size: 1.2rem;"></span>
    </div>
</div>