<div class="navigation container-fluid shadow-style align-row-center justify-content-between">
    <div class="icon" [routerLink]="[Constants.ROUTE_PATH_HOME]">
        <svg width="906" height="906" viewBox="0 0 906 906" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M196.928 755.632V476.282H103.808L453 150.363L802.187 476.273H709.072V755.628H522.837V546.115H383.162V755.628L196.928 755.632Z" stroke="black" stroke-width="50" stroke-miterlimit="5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
    </div>
    <div class="icon">
        <fa-icon [icon]="Icons.MAGNIFYING_GLASS"/>
    </div>
    <div class="icon">
        <fa-icon [icon]="Icons.SQUARE_PLUS" style="font-size: 1.6rem;"/>
    </div>
    <div class="icon">
        <fa-icon [icon]="Icons.COMMENT_DOTS" style="font-size: 1.5rem;"/>
    </div>
    <div class="icon">
        <fa-icon [icon]="Icons.USER_CIRCLE" [routerLink]="[Constants.ROUTE_PATH_PROFILE, currentUser?.id]"/>
    </div>
</div>